<!--
Limit length of title to ensure always on 1 line !? Could do it with javascript
Split to partial ?
Use js template - handlebars etc., and get data using json
-->

<% unless @search.blank? %>
    <div class="search-info">
      Resultat af søgningen: <%= @search %>
    </div>
<% end %>

<ul class="event-list">

<% @events.each_pair do |date, events| %>

    <li class="event-list-date"><%= relative_date(date) %></li>

    <% events.each do |event| %>
    <li>
        <%= link_to( event ) do %>
          <span class="event-list-item-time"><%= display_time(event.start) %></span>
          <span class="event-container">
              <span class="event-list-item-title">
                <%= event.title%>
              </span>
              <img src="<%= event.image %>" alt="">
          </span>
        <% end %>
    </li>
    <% end %>

<% end %>

</ul>