<article class="event clearfix">

  <div class="event-image">
    <img src="<%= @event.image  %>" alt="">
  </div>

  <div class="event-info">

    <h1><%= @event.title%></h1>
    <div class="event-info-hosted-by">
      Arrangeres af: <%= @event.hosted_by %>
    </div>
    <div class="event-info-box">
      <div class="event-date">
        <%= display_datetime(@event.start) %>
      </div>
      <div class="event-address">
        <%= @event.address%>
      </div>
    </div>

    <div class="event-description">
      <%= simple_format(@event.description) %>
    </div>

    <div class="event-price">
        Pris: <%= display_price(@event.price) %>
    </div>
  </div>

</article>