<article class="event clearfix">

  <div class="event-image">
    <img src="<%= @event.image  %>" alt="">
  </div>

  <div class="event-info">

    <h1><%= @event.title%></h1>

    <div class="event-info-box">
      <div class="event-date">
        <%= display_datetime(@event.start) %>
      </div>
      <div class="event-address">
        <%= @event.address%>
      </div>
    </div>

    <div class="event-description">
      <%= @event.description %>
    </div>

    <div class="event-price">
        Entree: <%= display_price(@event.price) %>
    </div>
  </div>

</article>